row{width: 100%;}
section{box-sizing: border-box;}
div{border:5px solid ;
    padding: 0px 0px 10px 10px;
    margin: 10px;
     width:30.5%;
     float: left;
     background-color: aquamarine;
     font-family: 'Times New Roman', Times, serif;  
    }
   
h1{text-align:center ;
  font-size: 2em;}

h2{float:right;top:0; right:0; margin:0;
    padding: 10px ;
    border:5px solid;
    font-size: 2em;
   background-color: palevioletred;
}
h3{float:right; top:0; right:0; margin:0;
    padding: 10px ;
    border:5px solid;
    font-size: 2em;
    background-color:darkgrey ;
}
h4{float:right;top:0; right:0; margin:0;
    padding: 10px ;
    border:5px solid;
    font-size: 2em;
    background-color: rgb(12, 232, 12) ;}
p{
    clear:right;
}

