*{box-sizing: border-box;}
body{margin-left:2% ;
     margin-right:2% ;}
div.one{border:5px solid ;
    padding: 0px 0px 10px 10px;
    margin: 10px;
    float:left;
     background-color: aquamarine;
     font-family: 'Times New Roman', Times, serif; 
     width: 31.7% ; 
    }
    div.two{border:5px solid ;
        padding: 0px 0px 10px 10px;
        margin: 10px;
        float:left;
         background-color: aquamarine;
         font-family: 'Times New Roman', Times, serif; 
         width: 31.7% ;   
        }
        div.three{border:5px solid ;
            padding: 0px 0px 10px 10px;
            margin: 10px;
            float:left;
             background-color: aquamarine;
             font-family: 'Times New Roman', Times, serif; 
             width: 31.7% ;   
            }
                   
h1{text-align:center ;
  font-size: 2em;}

h2{float:right;top:0; right:0; margin:0;
    padding: 10px ;
    border:5px solid;
    font-size: 2em;
   background-color: green ;
}
h3{float:right; top:0; right:0; margin:0;
    padding: 10px ;
    border:5px solid;
    font-size: 2em;
    background-color: darkgray ;
}
h4{float:right;top:0; right:0; margin:0;
    padding: 10px ;
    border:5px solid;
    font-size: 2em;
    background-color:palevioletred ;
}
p{
    clear:right;
}
@media(min-width=992px ){
    .large {width:33.3%;
    float: left;}
    
}
@media(max-width=991px )and(min-width=768){
    .medium {width:50%;
                     float:left;}
    .medium2{width:100%;
        float:left;}
}
@media(max-width=767px ){
   .small {width:100%;
    float: left;}
}

